h1{
    font-size: 10px;
    color: rgb(232, 255, 127)
}

.naslov{
    font-size: 15px;
color:rgb(62, 142, 174)

}

.size{
    font-size: 30px;
color: rgb(145, 89, 196);
}

.prvi{
    background-color: black;
}